.product-detail {
    text-align: center;
   
   margin: 5rem;
    height: 100vh;
  }

  .product-detail h1{
    margin: 2rem;
  }
  .image-gallery {
    display: flex;
    justify-content: center;
    margin: 3rem;

  }
  
  .product-image {
    max-width: 200px;
    margin: 0 10px;
  }
  
  .review-list {
    list-style: none;
    padding: 0;
  }
  
  .review-item {
    margin-bottom: 5px;
  }
  