.navbar-nav .nav-link {
  font-size: large;
  font-weight: bold;
  margin-right: 2rem;
  margin-left: 2rem;
  
  cursor: pointer;

}
.navbar-nav .new-nav-link {font-size: large;
  font-weight: bold;
  margin-right: 2rem;
  margin-left: 2rem;
  
  cursor: pointer;}
footer {
  display: flex;
flex-direction: row;
justify-content: space-around;
  background-color: #28b0f0;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.footer-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-icons ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-icons li {
  margin: 0 10px;
}

.footer-icons img {
  width: 30px;
  height: 30px;
}
